# Ignore Python virtual environment
backend/env/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.log

# Ignore Node modules in frontend
frontend/node_modules/
frontend/.next/
frontend/.vercel/
frontend/.env

# Ignore system files
.DS_Store
Thumbs.db
